:root {
  --white: #fff;
  --trans-white: #d7ccc0;
  --light: #f5f4f0;
  --orange: #fe8a02;
  --maindark: #42413c;
  --dark: #2a2626;
  --trans-dark: #908d8b;
  --brown:#b09a81;
  --blue: #1085c5;
  --font-main-size: 16px;
  --line-height: 1.6em;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Neucha";
  src: url("../fonts/Neucha-Regular.ttf");
}

.orange {
  color: var(--orange);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  color: var(--dark);
  background-color: var(--light);
}

h1, h2, h3 {
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 1;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header {
  position: relative;
}

.header-content, .video-content, .navigation-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
}

.video-content {
  align-items: center;
  text-align: center;
}

.video-content p {
  margin-top: 28px;
  margin-bottom: 29px;
}

header::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.header-title {
  margin: 0;
  padding-bottom: 185px;
}

.header-img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.two-column {
  display: flex;
  gap: 30px;
}

.text-block1 {
  width: 50%;  
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  background-color: var(--orange);
  cursor: pointer;
}

.white {
  background-color: var(--white);
  width: 100%;
}

.black {
  background-color: var(--maindark);
  width: 100%;
}

.video {
  position: relative;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  margin-bottom: -200px;
}


