:root {
  --brand-white: #fff;
  --brand-translucentwhite: #d7ccc0;
  --brand-light: #f5f4f0;
  --brand-maincolour: #fe8a02;
  --brand-maincolourdark: #42413c;
  --brand-dark: #2a2626;
  --brand-translucentdark: #908d8b;
  --brand-brown:#b09a81;
  --brand-blue: #1085c5;
  --font-main-size: 16px;
  --line-height: 1.6em;
  --font-color:#2A2626;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha.ttf");
}

h1, h2, h3, {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section {
  display: block;
  max-width: 1110px;
  margin: 100px auto;
}

.hello {
  display: block;

  color: #fff;
}
