:root {
  --white: #fff;
  --trans-white: #d7ccc0;
  --light: #f5f4f0;
  --orange: #fe8a02;
  --orangehover: #ea7600;
  --maindark: #42413c;
  --dark: #2a2626;
  --trans-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-main-size: 16px;
  --line-height: 1.6em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../fonts/Open\ Sans-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Neucha";
  src: url("../fonts/Neucha-Regular.ttf");
}

.orange {
  color: var(--orange);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  color: var(--dark);
  background-color: var(--light);
}

h1,
h2,
h3 {
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 1;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header {
  position: relative;
}

.header-content,
.video-content,
.navigation-content,
.ikea-content,
.optimize-content,
.distoration-content,
.depreciation-content,
.planning-content,
.footer-content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
  z-index: 10;
}

.navigation-menu {
  margin-top: 100px;
  margin-bottom: -20px;
}

.video-content {
  margin-bottom: -190px;
  padding-bottom: 90px !important;
}

.video-head {
  margin-bottom: 30px;
}

.video-title {
  margin-bottom: 30px;
}

header::before,
.ikea-section::before,
.optimize-section::before,
.distoration-section::before,
.depreciation-section::before,
.planning-section::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.header-title {
  margin: 0;
  padding-bottom: 195px;
}

.header-img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.text-column,
.text-column-opt {
  column-count: 2;
  column-gap: 30px;
}

.text-block {
  break-after: column;
  break-inside: avoid-column;
}

.text-plan {
  margin-bottom: 16px;
}

.header-content .text-block p {
  margin-top: 13px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  background-color: var(--orange);
  cursor: pointer;
}

.header-btn {
  margin-top: 40px;
}

.btn:hover {
  background-color: var(--orangehover);
}

.video-section {
  position: relative;
  text-align: center;
  background-color: var(--white);
  width: 100%;
  z-index: 10;
}

.navigation {
  position: relative;
  background-color: var(--maindark);
  width: 100%;
}

.navigation::before {
  content: "";
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.ikea-section,
.distoration-section,
.planning-section {
  position: relative;
  width: 100%;
}

.optimize-section,
.depreciation-section {
  position: relative;
  background-color: var(--brown);
  width: 100%;
}

.footer-section {
  position: relative;
  background-color: var(--white);
  width: 100%;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.cards-plate {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.describing {
  color: var(--white);
  background-color: var(--maindark) !important;
  flex-grow: 1;
  flex-basis: 350px;
  background-color: var(--light);
  margin-right: 30px;
  margin-bottom: 20px;
}

.describing h2 {
  font-size: 52px;
}

.card {
  flex-grow: 1;
  flex-basis: 350px;
  background-color: var(--light);
  margin-right: 30px;
  margin-bottom: 20px;
}

.card:nth-child(3n) {
  margin-right: 0;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  padding: 24px;
}

.card h1 {
  font-size: 64px;
  line-height: 1;
  color: var(--maindark);
  margin-bottom: 40px;
}

.card h3 {
  color: var(--orange);
  margin-bottom: 16px;
}

.card p {
  color: var(--dark);
}

.card:hover * {
  background-color: var(--orange);
  color: var(--white);
}

.text-how {
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.ikea,
.distor,
.plan {
  color: var(--white);
  background-color: var(--brown);
}

.opt,
.depre {
  color: var(--brown);
  background-color: var(--white);
}

.flex-column {
  display: flex;
}

.img-block {
  vertical-align: middle;
}

.ikea-img,
.distor-img,
.plan-img {
  display: block;
  margin-right: 30px;
  box-shadow: 0 16px 32px rgba(0 0 0 / 15%);
}

.opt-img,
.depre-img {
  display: block;
  margin-left: 30px;
  box-shadow: 0 16px 32px rgba(0 0 0 / 15%);
}

.up-title {
  color: var(--trans-dark);
  font-size: 24px;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

.middle-title {
  margin-bottom: 30px;
}

.down-title {
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 34px;
}

.optimize-content .up-title,
.depreciation-content .up-title {
  color: var(--trans-white);
}

.optimize-content .middle-title,
.depreciation-content .middle-title {
  color: var(--white);
}

.optimize-content .down-title,
.depreciation-content .down-title {
  color: var(--white);
}

.text-white {
  color: var(--white) !important;
}

/* костыль для проверки с подставным блоком */
.text-column-opt + div h2 {
  color: var(--orange);
}

.text-column-opt + div ul {
  padding-left: 40px;
  padding-bottom: 16px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  color: var(--white);
  background-color: var(--maindark);
}

.footer-title {
  padding: 55px;
  padding-right: 0;
  width: 50%;
  font-size: 34px;
}

.footer-form {
  padding: 55px;
  padding-left: 0;
  width: 50%;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.form-content {
  display: flex;
}

.form-email {
  display: block;
  padding: 15px;
  height: 50px;
  border: none;
  flex-grow: 1;
}

.form-btn {
  display: flex;
  align-items: center;
  width: 70px;
  height: 50px;
  border: none;
}

.form-btn::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: url(../images/send.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form-conditions {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
}

.form-link {
  text-decoration: underline;
  color: var(--white);
}

.footer-contacts {
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
}

.footer-copyrights {
  margin-bottom: 16px;
}

.footer-link {
  color: var(--blue);
  margin-bottom: 16px;
}
